

/*id*/

#myselfImage{
    width: inherit;
}
/*classes*/

/* Carousel */
.img_carousel{
    width: inherit;
    object-fit: cover;
    max-height: 400px;
}

.carousel-inner{
    height: 400px;
}



/* Navabar*/
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-item{
    width: 150px;
    text-align: center;
}


/* Container */
.seccio{
    margin-top: 80px;
}

.titol{
    font-size: 40px;
    text-align: center;
}

/* Elevator Pitch*/


/*FOOTER*/
footer{
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}

/* media queries */
@media screen and (max-width: 992px){
    .carousel-inner{
        height: 200px;
    }
    .display-1{
        font-size: 30px;
    }
    .img_carousel{
        width: inherit;
        object-fit: cover;
        max-height: 200px;
    }
    .col-lg{
        margin-bottom: 15px;
    }
    #elevatorVideo{
        max-width: 100%;
    }
    
}
