/*TIPOGRAFIA FONTS */
    /*titols*/
    @import url(https://fonts.googleapis.com/css2?family=Titan+One&display=swap);
    /*text*/
    @import url(https://fonts.googleapis.com/css2?family=Marmelad&display=swap);

    @import url(https://fonts.googleapis.com/css2?family=Sarina&display=swap);
    /*classe per al titols*/
.text_titol{
    font-family: 'Titan One', cursive;
    font-size: 50px;
    padding-top: 70px;
}

.text_random{
    font-family: 'Sarina', cursive;
}

.text_titol_max{
    font-family: 'Bungee', cursive !important;
    font-size: 200px;
}
    /*per a tot la resta*/
*{
    font-family: 'Marmelad', sans-serif;
}

/* COLORS */
.primari{
    background-color: #006979 !important;
}

.alerta{
    background-color: #6DE5ED !important;
}

.casual{
    background-color: white  !important;
}

.casual:hover{
    background-color: #6DE5ED   !important;
}


/**********************************ALTRE CSS******************************/



/*id*/

#myselfImage{
    width: inherit;
}
/*classes*/

/* Carousel */
.img_carousel{
    width: inherit;
    object-fit: cover;
    max-height: 400px;
}

.carousel-inner{
    height: 400px;
}



/* Navabar*/
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-item{
    /*width: 150px;*/
    margin-left: 33px;
    text-align: center;
}


/* Container */
.seccio{
   padding-top: 10px;
}

.separador{
    padding-top: 10px !important;
}

.titol{
    font-size: 40px;
    text-align: center;
}

/* Elevator Pitch*/


/*FOOTER*/
footer{
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}

/* media queries */
@media screen and (max-width: 992px){
    .carousel-inner{
        height: 200px;
    }
    .display-1{
        font-size: 30px;
    }
    .img_carousel{
        width: inherit;
        object-fit: cover;
        max-height: 200px;
    }
    .col-lg{
        margin-bottom: 15px;
    }
   
    .imatge_entorns{
        max-height: 75px !important;
    }
}

/* media queries */
@media screen and (max-width: 1200px){
    .nav-item{
        width: 150px;
    }
}

#menu_idioma{
    min-width: 100px !important;
    margin: 0px;
    padding: 0px;
    border: none !important;
}

#boto_menu_idioma{
    width: 100px;
}

/*****************************************ALTRE CSS******************************/
body{
    /*background-color: #B6ECF0 ;*/
    background: linear-gradient(to left, #ffffff, #B6ECF0);
}

li a{
    color: white !important;
    /*width: 30px;*/
}

li a:hover{
    color: #6DE5ED  !important;
}

div a:hover{
    color: #6DE5ED  !important;
}

.imatge_entorns{
    /*max-width: 100px;*/
    max-height: 100px;
}

.more {display: none;}

/* navar */
.idioma{
    max-height: 35px;
}

/* navar */
.idioma_imatge{
    height: 55px;
    margin: auto;
}

/*INTERN*/
.imatge_intern{
    max-height: 125px;
    /*background: #FF5733;*/
}

/* ANIMACIO anclas*/
html {
    scroll-behavior: smooth;
}

/* collapsible*/
.collapsible {
    background-color: #6DE5ED  ;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    border: 1px;
    outline: none;
    font-size: 15px;
    
  }
  /*
  .collapsible{
    border-radius: 10px 10px 0px 0px !important;
  }*/
  .active, .collapsible:hover {
    background-color: #56B3BA ;
  }
  
  .content {
    margin-left: 12.5%;
    width: 75%;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #B6ECF0 ;
    
  }

/*PROJECTS*/
.imatge_projects{
    height: 100px;
    max-width: 75%;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}

/* llistes projectes*/
.collapsible ul {
    margin: 0em !important;
}

/*Botons*/
.what{
    background-color:  #FF5733 !important;
}

.what:hover{
    background-color:  grey!important;
}

/*yeah*/
#playVideo {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #6DE5ED;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
  }
#container{
  position:relative;
}




